name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@d706bfb7bffcbeb7a3828298f5b0d0a0c2da5185 # 4.0.4
    permissions:
      pull-requests: read
  build:
    needs: ci-optimization
    name: Build iOS (simulator)
    runs-on: macos-26 # change back to macos-latest once v26 is default

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Ruby
        uses: ruby/setup-ruby@708024e6c902387ab41de36e1669e43b5ee7085e # v1.283.0

      - name: Install CocoaPods
        run: |
          sudo gem install cocoapods xcpretty

      - name: Build workspace on iOS Simulator
        run: |
          set -o pipefail
          xcodebuild -workspace vibetype.xcworkspace -scheme vibetype -destination 'platform=iOS Simulator,name=iPhone 17' -configuration Release clean build | xcpretty
